#app {
  display: grid;
 
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
 

}

main {
  overflow: auto;
  padding: 1.5rem;

  order: 1; /* Garante que o main vem depois do aside */

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 2rem;
  align-items: center;
  justify-self: center;
  max-width: 100%;

  order: -1; /* Coloca o aside antes do main */

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;

    & span {
      color: var(--text-highlight);
    }
  }
}
